[submodule "dependencies/CxxUtils"]
	path = dependencies/CxxUtils
	url = https://github.com/AlexXZero/CxxUtils.git
[submodule "dependencies/sol2"]
	path = dependencies/sol2
	url = https://github.com/ThePhD/sol2.git
